body {
    color:white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    gap: 140px;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 200px;
    height: 200px;
}

.footer img{
    width: 45px;
    height: 45px;
    padding: 1px;
    gap: 50px;
            }

            